<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Fail</title>
</head>
<body>
<div class="blurred-box">
    <div class="middle">
        <div class="text">Login Fail</div>
        {{#exception}}
            <div class="text">{{ exception }}</div>
        {{/exception}}
        <input type="button" onclick="history.back()" value="go back">
    </div>

</div>

<style>
    * {
        margin: 0;
        padding: 0;
    }

    html {
        width: 100vw;
        height: 100vh;
    }

    body {
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-position: top;
        background-image: url(/images/background1.png);
        width: 100%;
        height: 100%;
        font-family: Arial, Helvetica;
        letter-spacing: 0.02em;
        font-weight: 400;
        -webkit-font-smoothing: antialiased;
    }

    .blurred-box {
        position: relative;
        width: 250px;
        height: 350px;
        top: calc(50% - 175px);
        left: calc(50% - 125px);
        background: inherit;
        border-radius: 2px;
        overflow: hidden;
    }

    .blurred-box:after {
        content: '';
        width: 300px;
        height: 300px;
        background: inherit;
        position: absolute;
        left: -25px;
        left position
        right: 0;
        top: -25px;
        top position
        bottom: 0;
        box-shadow: inset 0 0 0 200px rgba(255, 255, 255, 0.05);
        filter: blur(10px);
    }


    /* Form which you dont need */
    .middle {
        position: relative;
        margin-top: 75px;
        text-align: center;
        z-index: 1;
    }

    .middle > * {
        display: inline-block;
        width: 150px;
    }

    .text {
        margin-top: 15px;
        margin-bottom: 15px;
        color: white;
    }

    input {
        width: 60px;
        height: 30px;
        opacity: 0.4;
        border-radius: 2px;
        padding: 5px 15px;
        border: 0;
        margin-bottom: 10px;
        font-weight: 700;
        cursor: pointer;
    }

</style>
</body>
</html>
