<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>File Upload Test</title>
</head>
<body>

<form id="form1" action="file" method="post" enctype="multipart/form-data" target="repacatFrame">
    <input type="file" name="file">
    <input type="submit">
</form>


</body>
</html>
